<!DOCTYPE html>
<html lang="${locale}">

<head>
    <meta charset="UTF-8">
    <title>Geneafan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Arbreomatic description">
    <meta name="author" content="Genealog.ie">
    <meta name="robots" content="noindex, follow">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
</head>
<body>
    <header>
        <div id="dynamic-content"></div>
        <!-- Header with tabs, tom-select element, dropdowns and fullscreen button -->
        <div class="fixed-top d-flex justify-content-between align-items-center" style="padding-left: 5px; padding-right: 5px;" id="tab-header">
            <!-- Section with tab headers -->
            <div id="left-container" class="left-header" role="tablist">
                <div id="tab-container" class="d-flex">
                    <ul class="nav nav-tabs" id="tab-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="#tab1" data-bs-toggle="tab">
                                <span class="tab-label"><%= __('geneafan.view_fan_chart') %></span>
                                <button class="btn btn-secondary btn-sm spacedS" id="fanParametersDisplay" disabled data-bs-toggle="tooltip" data-bs-placement="top" title="<%= __('geneafan.tooltip_fan_parameters') %>">
                                    <i class="bi bi-sliders"></i>
                                </button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#tab2" data-bs-toggle="tab">
                                <span class="tab-label"><%= __('geneafan.view_family_map') %></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#tab3" data-bs-toggle="tab">
                                <span class="tab-label"><%= __('geneafan.view_family_tree') %></span>
                                <button class="btn btn-secondary btn-sm spacedS" id="treeParametersDisplay" disabled data-bs-toggle="tooltip" data-bs-placement="top" title="<%= __('geneafan.tooltip_tree_parameters') %>">
                                    <i class="bi bi-sliders"></i>
                                </button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#tab4" data-bs-toggle="tab">
                                <span class="tab-label"><%= __('geneafan.view_ascendant_timeline') %></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="burger-menu" class="burger-menu">
                    <div type="button" id="more-tab-btn" class="more-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 4 18">
                            <path fill="var(--color-dark)" fill-rule="evenodd" d="M0 2a2 2 0 1 0 4 0 2 2 0 0 0-4 0m2 9a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 7a2 2 0 1 1 0-4 2 2 0 0 1 0 4" clip-rule="evenodd"/>
                        </svg>
                    </div>
                    <ul id="more-drawer" class="nav-tabs more-content">
                    </ul>
                </div>
            </div>
            <!-- Section with the tom-select element -->
            <div id="middle-container" class="d-flex justify-content-center col-4 mx-auto align-items-center">
                <i id="undoButton" class="bi bi-arrow-counterclockwise me-3" style="cursor: pointer;"></i>
                <select id="individual-select" class="form-control disabled"></select>
                <i id="redoButton" class="bi bi-arrow-clockwise ms-3" style="cursor: pointer;"></i>
            </div>
            <!-- Section with dropdowns and the fullscreen button -->
            <div id="right-container" class="d-flex justify-content-end">
                <div class="dropdown spacedS">
                    <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="gedcomMenu" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        GEDCOM
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="gedcomMenu">
                        <!-- Upload a new GEDCOM file -->
                        <li>
                            <a class="dropdown-item" href="#">
                                <div class="input-file-container text-center">
                                    <%= __('geneafan.your_gedcom_file') %>
                                        <input type="file" name="file" id="file" accept=".ged,.gedcom">
                                </div>
                            </a>
                        </li>
                
                        <!-- My GEDCOM Files -->
                        <li>
                            <a class="dropdown-item protected-feature" data-action="fetchGedcomFiles" href="#" id="myGedcomFilesMenuItem">
                                Mes fichiers Gedcom enregistrés
                            </a>
                        </li>
                
                        <!-- Separator -->
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                
                        <!-- Use the sample GEDCOM file -->
                        <li>
                            <a class="dropdown-item remote-file" href="#" id="sample-toggle" data-link="https://files.genealog.ie/demo.ged">
                                <%= __('geneafan.or_try_sample') %>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="dropdown spacedS">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="download-menu" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" disabled>
                        <%= __('common.download') %>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="download-menu">
                        <a class="dropdown-item" id="download-pdf-watermark" href="#">
                            <%= __('geneafan.file_type_list.pdf_watermark') %>
                        </a>
                        <a class="dropdown-item protected-feature" data-action="downloadPdf" id="download-pdf" href="#">
                            <%= __('geneafan.file_type_list.pdf') %>
                        </a>
                        <a class="dropdown-item" id="download-svg" href="#">
                            <%= __('geneafan.file_type_list.svg') %>
                        </a>
                        <a class="dropdown-item" id="download-png-transparency" href="#">
                            <%= __('geneafan.file_type_list.png_transparent') %>
                        </a>
                        <a class="dropdown-item" id="download-png-background" href="#">
                            <%= __('geneafan.file_type_list.png_white_background') %>
                        </a>
                    </div>
                </div>
                <div style="display: flex;">
                    <button class="btn btn-secondary" id="fullscreenButton" disabled data-bs-toggle="tooltip" data-bs-placement="top" title="<%= __('geneafan.tooltip_full_screen') %>">
                        <i class="bi bi-arrows-fullscreen"></i>
                    </button>
                </div>
                
                <!-- Élément pour le bouton de connexion ou le bouton utilisateur -->
                <div id="user-controls"></div>
                
                
                
                <!--
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="lang-menu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                        <h6 class="dropdown-header">
                            <%=__('common.language')%>
                        </h6>
                        <a class="dropdown-item ${lang === 'fr' ? 'active' : ''}" href="${urlGeneratorLang('fr', 'geneafan')}">Français</a>
                        <a class="dropdown-item ${lang === 'en' ? 'active' : ''}" href="${urlGeneratorLang('en', 'geneafan')}">English</a>
                    </div>
                </div>
                -->
            </div>
        </div>
 

        <div id="overlay">
            <div id="loading">
                <div class="spinner-border custom-spinner" role="status">
                </div>
                <h2 id="loading-text">
                    <%= __('common.loading_ellipsis') %>
                </h2>
                <em>
                    <%= __('common.please_wait') %>
                </em>
            </div>
        </div>

        <div class="alert alert-primary alert-dismissible fade d-none" id="alert" role="alert">
            <span id="alert-content"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    </header>
    <main>
        
        <div class="container">
            
            <!-- Tab content -->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab1">
                    <div class="row position-relative" id="fanDisplay">
                        <div id="initial-group">
                            <div>
                                <h5>
                                    <strong>
                                        <%=__('geneafan.privacy')%>
                                    </strong>
                                </h5>
                            </div>
                        </div>
                        <!-- Fan container -->
                        <div class="col-12 container-fluid align-items-center mt-2" id="fanContainer">
                            <svg id="fan"></svg>
                        </div>
                        <!-- Offcanvas for fan settings -->
                        <div class="offcanvas offcanvas-start" tabindex="-1" id="fanParameters" aria-labelledby="fanParametersLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="fanParametersLabel">Paramètres de l'éventail</h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <div class="container-fluid">
                                    <div class="row col-12 mx-auto">
                                        <!-- Paramètre de l'angle du fan -->
                                        <div class="mb-3 parameter-row">
                                            <label class="form-label">Angle de l'éventail</label>
                                            <div class="btn-group" role="group" aria-label="Angle de l'éventail">
                                                <input type="radio" class="btn-check parameter" name="fanAngle" id="fan-angle-270"
                                                    value="270" checked>
                                                <label class="btn btn-outline-primary" for="fan-angle-270">270°</label>
                                                <input type="radio" class="btn-check parameter" name="fanAngle" id="fan-angle-360"
                                                    value="360">
                                                <label class="btn btn-outline-primary" for="fan-angle-360">360°</label>
                                            </div>
                                        </div>

                                        <!-- Paramètre du nombre de générations -->
                                        <div class="mb-3 parameter-row">
                                            <label class="form-label">Nombre de générations</label>
                                            <div class="btn-group" role="group" aria-label="Nombre de générations">
                                                <input type="radio" class="btn-check parameter" name="max-generations"
                                                    id="max-generations-7" value="7">
                                                <label class="btn btn-outline-primary" for="max-generations-7">7</label>
                                                <input type="radio" class="btn-check parameter" name="max-generations"
                                                    id="max-generations-8" value="8" checked>
                                                <label class="btn btn-outline-primary" for="max-generations-8">8</label>
                                            </div>
                                        </div>

                                        <!-- Paramètre d'affichage des mariages -->
                                        <div class="mb-3 parameter-row">
                                            <label class="form-label">Affichage des mariages</label>
                                            <div class="btn-group" role="group" aria-label="Affichage des mariages">
                                                <input type="radio" class="btn-check parameter" name="showMarriages"
                                                    id="showMarriages-true" value="true" checked>
                                                <label class="btn btn-outline-primary" for="showMarriages-true">Oui</label>
                                                <input type="radio" class="btn-check parameter" name="showMarriages"
                                                    id="showMarriages-false" value="false">
                                                <label class="btn btn-outline-primary" for="showMarriages-false">Non</label>
                                            </div>
                                        </div>

                                        <!-- Autres paramètres -->
                                        <div class="mb-3 parameter-row">
                                            <label class="form-label">Orientation dynamique du texte</label>
                                            <div class="btn-group" role="group" aria-label="Orientation dynamique du texte">
                                                <input type="radio" class="btn-check parameter" name="invert-text-arc"
                                                    id="invert-text-arc-true" value="true" checked>
                                                <label class="btn btn-outline-primary" for="invert-text-arc-true">Oui</label>
                                                <input type="radio" class="btn-check parameter" name="invert-text-arc"
                                                    id="invert-text-arc-false" value="false">
                                                <label class="btn btn-outline-primary" for="invert-text-arc-false">Non</label>
                                            </div>
                                        </div>
                                        <div class="mb-3 parameter-row">
                                            <label class="form-label">Affichage des cases vides</label>
                                            <div class="btn-group" role="group" aria-label="Affichage des cases vides">
                                                <input type="radio" class="btn-check parameter" name="showMissing" id="showMissing-true"
                                                    value="true" checked>
                                                <label class="btn btn-outline-primary" for="showMissing-true">Oui</label>
                                                <input type="radio" class="btn-check parameter" name="showMissing"
                                                    id="showMissing-false" value="false">
                                                <label class="btn btn-outline-primary" for="showMissing-false">Non</label>
                                            </div>
                                        </div>
                                        <!-- Coloriage de l'éventail -->
                                        <div class="mb-3 parameter-row">
                                            <label class="form-label">Coloriage de l'éventail</label>
                                            <div class="btn-group" role="group" aria-label="Coloriage de l'éventail">
                                                <input type="radio" class="btn-check parameter" name="fanColor" id="fan-color-none"
                                                    value="none" checked>
                                                <label class="btn btn-outline-primary" for="fan-color-none">Non</label>
                                                <input type="radio" class="btn-check parameter" name="fanColor"
                                                    id="fan-color-departement" value="departement">
                                                <label class="btn btn-outline-primary" for="fan-color-departement">Géographique</label>
                                                <input type="radio" class="btn-check parameter" name="fanColor"
                                                    id="fan-color-individual" value="individual">
                                                <label class="btn btn-outline-primary" for="fan-color-individual">Individuel</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="tab2">
                    <div class="row flex-nowrap" id="familyMap"></div>
                </div>
                <div class="tab-pane fade" id="tab3">
                    <div class="row position-relative" id="treeDisplay"></div>
                    <!-- Tree container -->
                    <div class="col-12 container-fluid align-items-center mt-2" id="treeContainer" style="height: 95vh;"></div>
                    <!-- Offcanvas for tree settings -->
                    <div class="offcanvas offcanvas-start" tabindex="-1" id="treeParameters" aria-labelledby="treeParametersLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="treeParametersLabel">Paramètres de l'arbre</h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12 mx-auto" id="treeParametersDisplay">
                                        <div class="mb-3 parameter-row">
                                            <label for="commonAncestor" class="form-label">Recherche</label>
                                            <div class="btn-group" role="group">
                                                <button type="button" id="commonAncestor" class="btn btn-primary">Ancêtre
                                                    commun</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="tab-pane fade" id="tab4">
                    <div class="horizontal-timeline" id="ascendantTimeline"></div>
                </div>
            </div>
        </div>
        <!-- Modals -->
        <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="emailModalLabel">Saisissez l'adresse à laquelle vous souhaitez
                            recevoir le PDF de l'éventail sans filigrane.</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="email" class="form-control" id="userEmailInput"
                            placeholder="Votre adresse de courriel">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="email">Valider</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

                        </button>
                    </div>
                    <div class="modal-body">
                        Le fichier PDF de votre éventail sera envoyé dans quelques minutes à l'adresse indiquée.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal de Connexion -->
        <div class="modal fade" id="signInModal" tabindex="-1" aria-labelledby="signInModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="signInModalLabel">Se Connecter</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                    </div>
                    <div class="modal-body">
                        <div id="sign-in"></div> <!-- Conteneur pour le formulaire de connexion -->
                    </div>
                </div>
            </div>
        </div>
        
        
        <!-- Élément pour le contenu dynamique (formulaire de connexion, commutateur d'organisations, etc.) -->
        

        <!-- Offcanvas for individuals -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="personDetails" aria-labelledby="personDetailsLabel">
            <div class="offcanvas-header">
                <h5 id="personDetailsLabel">name</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div id="offCanvasBody" class="text-start" style="overflow-y: auto;">
                <div id="individualTimeline" class="text-start"></div>
            </div>
        </div>

        <div class="offcanvas offcanvas-start map-width" tabindex="-1" id="individualMapContainer"
            aria-labelledby="individualMapLabel">
            <div class="offcanvas-header">
                <h5 id="individualMapLabel">Carte</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="row flex-nowrap" id="individualMap"></div>
            </div>
        </div>
    </main>
    <!-- Scripts -->
    <script>
        var isReady = true;
        window.onerror = function errorHandler(msg, url, line) {
            isReady = false;
            var e = document.getElementById('loading');
            e.innerHTML = "<h2><i class=\"fas fa-exclamation-triangle\" aria-hidden=\"true\"></i> ${__('geneafan.an_error_occurred')}</h2>${__('geneafan.your_browser_is_incompatible')}";
            return false;
        };
    </script>
  
</body>

</html>
