<!DOCTYPE html>
<html lang="${locale}">

<head>
    <meta charset="UTF-8">
    <title>Geneafan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Arbreomatic description">
    <meta name="author" content="Genealog.ie">
    <meta name="robots" content="noindex, follow">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
</head>

<body>
    <header>
        <!-- Header with tabs, tom-select element, dropdowns and fullscreen button -->
        <div class="fixed-top d-flex justify-content-between align-items-center" id="tab-header">
            <!-- Section with tab headers -->
            <div id="left-container" class="left-header" role="tablist">
                <div id="tab-container" class="d-flex">
                    <ul class="nav nav-tabs" id="tab-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="#tab1" data-bs-toggle="tab">
                                <span class="tab-label">
                                    <%= __('geneafan.view_fan_chart') %>
                                </span>
                                <button class="btn btn-secondary btn-sm spacedS" id="fanParametersDisplay" disabled
                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="<%= __('geneafan.tooltip_fan_parameters') %>">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                        style="width: 1em; height: 1em; fill: currentColor;">
                                        <path
                                            d="M495.9 166.6c3.2 8.7 .5 18.4-6.4 24.6l-43.3 39.4c1.1 8.3 1.7 16.8 1.7 25.4s-.6 17.1-1.7 25.4l43.3 39.4c6.9 6.2 9.6 15.9 6.4 24.6c-4.4 11.9-9.7 23.3-15.8 34.3l-4.7 8.1c-6.6 11-14 21.4-22.1 31.2c-5.9 7.2-15.7 9.6-24.5 6.8l-55.7-17.7c-13.4 10.3-28.2 18.9-44 25.4l-12.5 57.1c-2 9.1-9 16.3-18.2 17.8c-13.8 2.3-28 3.5-42.5 3.5s-28.7-1.2-42.5-3.5c-9.2-1.5-16.2-8.7-18.2-17.8l-12.5-57.1c-15.8-6.5-30.6-15.1-44-25.4L83.1 425.9c-8.8 2.8-18.6 .3-24.5-6.8c-8.1-9.8-15.5-20.2-22.1-31.2l-4.7-8.1c-6.1-11-11.4-22.4-15.8-34.3c-3.2-8.7-.5-18.4 6.4-24.6l43.3-39.4C64.6 273.1 64 264.6 64 256s.6-17.1 1.7-25.4L22.4 191.2c-6.9-6.2-9.6-15.9-6.4-24.6c4.4-11.9 9.7-23.3 15.8-34.3l4.7-8.1c6.6-11 14-21.4 22.1-31.2c5.9-7.2 15.7-9.6 24.5-6.8l55.7 17.7c13.4-10.3 28.2-18.9 44-25.4l12.5-57.1c2-9.1 9-16.3 18.2-17.8C227.3 1.2 241.5 0 256 0s28.7 1.2 42.5 3.5c9.2 1.5 16.2 8.7 18.2 17.8l12.5 57.1c15.8 6.5 30.6 15.1 44 25.4l55.7-17.7c8.8-2.8 18.6-.3 24.5 6.8c8.1 9.8 15.5 20.2 22.1 31.2l4.7 8.1c6.1 11 11.4 22.4 15.8 34.3zM256 336a80 80 0 1 0 0-160 80 80 0 1 0 0 160z" />
                                    </svg>
                                </button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#tab2" data-bs-toggle="tab">
                                <span class="tab-label">
                                    <%= __('geneafan.view_family_map') %>
                                </span>
                                <button class="btn btn-secondary btn-sm spacedS" id="mapParametersDisplay" disabled
                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="<%= __('geneafan.tooltip_map_parameters') %>">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                        style="width: 1em; height: 1em; fill: currentColor;">
                                        <path
                                            d="M495.9 166.6c3.2 8.7 .5 18.4-6.4 24.6l-43.3 39.4c1.1 8.3 1.7 16.8 1.7 25.4s-.6 17.1-1.7 25.4l43.3 39.4c6.9 6.2 9.6 15.9 6.4 24.6c-4.4 11.9-9.7 23.3-15.8 34.3l-4.7 8.1c-6.6 11-14 21.4-22.1 31.2c-5.9 7.2-15.7 9.6-24.5 6.8l-55.7-17.7c-13.4 10.3-28.2 18.9-44 25.4l-12.5 57.1c-2 9.1-9 16.3-18.2 17.8c-13.8 2.3-28 3.5-42.5 3.5s-28.7-1.2-42.5-3.5c-9.2-1.5-16.2-8.7-18.2-17.8l-12.5-57.1c-15.8-6.5-30.6-15.1-44-25.4L83.1 425.9c-8.8 2.8-18.6 .3-24.5-6.8c-8.1-9.8-15.5-20.2-22.1-31.2l-4.7-8.1c-6.1-11-11.4-22.4-15.8-34.3c-3.2-8.7-.5-18.4 6.4-24.6l43.3-39.4C64.6 273.1 64 264.6 64 256s.6-17.1 1.7-25.4L22.4 191.2c-6.9-6.2-9.6-15.9-6.4-24.6c4.4-11.9 9.7-23.3 15.8-34.3l4.7-8.1c6.6-11 14-21.4 22.1-31.2c5.9-7.2 15.7-9.6 24.5-6.8l55.7 17.7c13.4-10.3 28.2-18.9 44-25.4l12.5-57.1c2-9.1 9-16.3 18.2-17.8C227.3 1.2 241.5 0 256 0s28.7 1.2 42.5 3.5c9.2 1.5 16.2 8.7 18.2 17.8l12.5 57.1c15.8 6.5 30.6 15.1 44 25.4l55.7-17.7c8.8-2.8 18.6-.3 24.5 6.8c8.1 9.8 15.5 20.2 22.1 31.2l4.7 8.1c6.1 11 11.4 22.4 15.8 34.3zM256 336a80 80 0 1 0 0-160 80 80 0 1 0 0 160z" />
                                    </svg>
                                </button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#tab3" data-bs-toggle="tab">
                                <span class="tab-label">
                                    <%= __('geneafan.view_family_tree') %>
                                </span>
                                <button class="btn btn-secondary btn-sm spacedS" id="treeParametersDisplay" disabled
                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="<%= __('geneafan.tooltip_tree_parameters') %>">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                        style="width: 1em; height: 1em; fill: currentColor;">
                                        <path
                                            d="M495.9 166.6c3.2 8.7 .5 18.4-6.4 24.6l-43.3 39.4c1.1 8.3 1.7 16.8 1.7 25.4s-.6 17.1-1.7 25.4l43.3 39.4c6.9 6.2 9.6 15.9 6.4 24.6c-4.4 11.9-9.7 23.3-15.8 34.3l-4.7 8.1c-6.6 11-14 21.4-22.1 31.2c-5.9 7.2-15.7 9.6-24.5 6.8l-55.7-17.7c-13.4 10.3-28.2 18.9-44 25.4l-12.5 57.1c-2 9.1-9 16.3-18.2 17.8c-13.8 2.3-28 3.5-42.5 3.5s-28.7-1.2-42.5-3.5c-9.2-1.5-16.2-8.7-18.2-17.8l-12.5-57.1c-15.8-6.5-30.6-15.1-44-25.4L83.1 425.9c-8.8 2.8-18.6 .3-24.5-6.8c-8.1-9.8-15.5-20.2-22.1-31.2l-4.7-8.1c-6.1-11-11.4-22.4-15.8-34.3c-3.2-8.7-.5-18.4 6.4-24.6l43.3-39.4C64.6 273.1 64 264.6 64 256s.6-17.1 1.7-25.4L22.4 191.2c-6.9-6.2-9.6-15.9-6.4-24.6c4.4-11.9 9.7-23.3 15.8-34.3l4.7-8.1c6.6-11 14-21.4 22.1-31.2c5.9-7.2 15.7-9.6 24.5-6.8l55.7 17.7c13.4-10.3 28.2-18.9 44-25.4l12.5-57.1c2-9.1 9-16.3 18.2-17.8C227.3 1.2 241.5 0 256 0s28.7 1.2 42.5 3.5c9.2 1.5 16.2 8.7 18.2 17.8l12.5 57.1c15.8 6.5 30.6 15.1 44 25.4l55.7-17.7c8.8-2.8 18.6-.3 24.5 6.8c8.1 9.8 15.5 20.2 22.1 31.2l4.7 8.1c6.1 11 11.4 22.4 15.8 34.3zM256 336a80 80 0 1 0 0-160 80 80 0 1 0 0 160z" />
                                    </svg>
                                </button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#tab4" data-bs-toggle="tab">
                                <span class="tab-label">
                                    <%= __('geneafan.view_ascendant_timeline') %>
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#tab5" data-bs-toggle="tab">
                                <span class="tab-label">
                                    <%= __('geneafan.view_statistics') %>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="burger-menu" class="burger-menu">
                    <div type="button" id="more-tab-btn" class="more-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 4 18">
                            <path fill="var(--color-dark)" fill-rule="evenodd"
                                d="M0 2a2 2 0 1 0 4 0 2 2 0 0 0-4 0m2 9a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 7a2 2 0 1 1 0-4 2 2 0 0 1 0 4"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                    <ul id="more-drawer" class="nav-tabs more-content">
                    </ul>
                </div>
            </div>
            <!-- Section with the tom-select element -->
            <div id="middle-container" class="col-4 d-flex justify-content-center mx-auto align-items-center">
                <div id="undoButton" class="me-2" style="cursor: pointer; width: 1.5em; height: 1.5em;">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                        style="width: 100%; height: 100%; fill: currentColor;">
                        <path
                            d="M125.7 160l50.3 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L48 224c-17.7 0-32-14.3-32-32L16 64c0-17.7 14.3-32 32-32s32 14.3 32 32l0 51.2L97.6 97.6c87.5-87.5 229.3-87.5 316.8 0s87.5 229.3 0 316.8s-229.3 87.5-316.8 0c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0c62.5 62.5 163.8 62.5 226.3 0s62.5-163.8 0-226.3s-163.8-62.5-226.3 0L125.7 160z" />
                    </svg>
                </div>
                <select id="individual-select" class="form-control disabled mx-3"></select>
                <div id="redoButton" class="mx-2" style="cursor: pointer; width: 1.5em; height: 1.5em;">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                        style="width: 100%; height: 100%; fill: currentColor;">
                        <path
                            d="M386.3 160L336 160c-17.7 0-32 14.3-32 32s14.3 32 32 32l128 0c17.7 0 32-14.3 32-32l0-128c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 51.2L414.4 97.6c-87.5-87.5-229.3-87.5-316.8 0s-87.5 229.3 0 316.8s229.3 87.5 316.8 0c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0c-62.5 62.5-163.8 62.5-226.3 0s-62.5-163.8 0-226.3s163.8-62.5 226.3 0L386.3 160z" />
                    </svg>
                </div>
            </div>
            <!-- Section with dropdowns and the fullscreen button -->
            <div id="right-container" class="col-4 d-flex justify-content-end">
                <div class="dropdown spacedS">
                    <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="gedcomMenu"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        GEDCOM
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="gedcomMenu">
                        <!-- Upload a new GEDCOM file -->
                        <li>
                            <a class="dropdown-item" href="#">
                                <div class="input-file-container text-center">
                                    <%= __('geneafan.your_gedcom_file') %>
                                        <input type="file" name="file" id="file" accept=".ged,.gedcom">
                                </div>
                            </a>
                        </li>

                        <!-- My GEDCOM Files -->
                        <li>
                            <a class="dropdown-item protected-feature" data-action="fetchGedcomFiles" href="#"
                                id="myGedcomFilesMenuItem">
                                Mes fichiers Gedcom enregistrés
                            </a>
                        </li>

                        <!-- Separator -->
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <!-- Use the sample GEDCOM file -->
                        <li>
                            <a class="dropdown-item remote-file" href="#" id="sample-toggle"
                                data-link="https://files.genealog.ie/demo.ged">
                                <%= __('geneafan.or_try_sample') %>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="dropdown spacedS">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="download-menu"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                        <%= __('common.download') %>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="download-menu">
                        <a class="dropdown-item" id="download-pdf-watermark" href="#">
                            <%= __('geneafan.file_type_list.pdf_watermark') %>
                        </a>
                        <a class="dropdown-item protected-feature" data-action="downloadPdf" id="download-pdf" href="#">
                            <%= __('geneafan.file_type_list.pdf') %>
                        </a>
                        <a class="dropdown-item" id="download-svg" href="#">
                            <%= __('geneafan.file_type_list.svg') %>
                        </a>
                        <a class="dropdown-item" id="download-png-transparency" href="#">
                            <%= __('geneafan.file_type_list.png_transparent') %>
                        </a>
                        <a class="dropdown-item" id="download-png-background" href="#">
                            <%= __('geneafan.file_type_list.png_white_background') %>
                        </a>
                    </div>
                </div>
                <div style="display: flex;">
                    <button class="btn btn-secondary" id="fullscreenButton" disabled data-bs-toggle="tooltip"
                        data-bs-placement="top" title="<%= __('geneafan.tooltip_full_screen') %>">
                        <i class="bi bi-arrows-fullscreen"></i>
                    </button>
                </div>

                <!-- Element for the sign-in button or the user button -->
                <div id="user-controls">
                    <button id="sign-in-button" class="btn btn-primary">Sign In</button>
                    <div id="user-button" style="display: none;"></div>
                </div>



                <!--
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="lang-menu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                        <h6 class="dropdown-header">
                            <%=__('common.language')%>
                        </h6>
                        <a class="dropdown-item ${lang === 'fr' ? 'active' : ''}" href="${urlGeneratorLang('fr', 'geneafan')}">Français</a>
                        <a class="dropdown-item ${lang === 'en' ? 'active' : ''}" href="${urlGeneratorLang('en', 'geneafan')}">English</a>
                    </div>
                </div>
                -->
            </div>
        </div>

        <div id="overlay">
            <div id="loading">
                <div class="spinner-border custom-spinner" role="status">
                </div>
                <h2 id="loading-text">
                    <%= __('common.loading_ellipsis') %>
                </h2>
                <em>
                    <%= __('common.please_wait') %>
                </em>
            </div>
        </div>

        <div class="alert alert-primary alert-dismissible fade d-none" id="alert" role="alert">
            <span id="alert-content"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    </header>
    <main>
        <div class="container">
            <!-- Tab content -->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab1">
                    <div class="row position-relative" id="fanDisplay">
                        <div id="initial-group">
                            <div>
                                <h5>
                                    <strong>
                                        <%=__('geneafan.privacy')%>
                                    </strong>
                                </h5>
                            </div>
                        </div>
                        <!-- Fan container -->
                        <div id="fanContainer" class="col-12 container-fluid">
                            <svg id="fan"></svg>
                        </div>
                        
                        <!-- Offcanvas for fan settings -->
                        <div class="offcanvas offcanvas-start" tabindex="-1" id="fanParameters"
                            aria-labelledby="fanParametersLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="fanParametersLabel">Paramètres de l'éventail</h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <div class="container-fluid">
                                    <div class="row col-12 mx-auto">
                                        <!-- Paramètre de l'angle du fan -->
                                        <div class="mb-3 parameter-row">
                                            <label class="form-label">Angle de l'éventail</label>
                                            <div class="btn-group" role="group" aria-label="Angle de l'éventail">
                                                <input type="radio" class="btn-check parameter" name="fanAngle"
                                                    id="fan-angle-270" value="270" checked>
                                                <label class="btn btn-outline-primary" for="fan-angle-270">270°</label>
                                                <input type="radio" class="btn-check parameter" name="fanAngle"
                                                    id="fan-angle-360" value="360">
                                                <label class="btn btn-outline-primary" for="fan-angle-360">360°</label>
                                            </div>
                                        </div>
                                        <!-- Paramètre du nombre de générations -->
                                        <div class="mb-3 parameter-row">
                                            <label class="form-label">Nombre de générations</label>
                                            <div class="btn-group" role="group" aria-label="Nombre de générations">
                                                <input type="radio" class="btn-check parameter" name="max-generations"
                                                    id="max-generations-7" value="7">
                                                <label class="btn btn-outline-primary" for="max-generations-7">7</label>
                                                <input type="radio" class="btn-check parameter" name="max-generations"
                                                    id="max-generations-8" value="8" checked>
                                                <label class="btn btn-outline-primary" for="max-generations-8">8</label>
                                            </div>
                                        </div>
                                        <!-- Paramètre d'affichage des mariages -->
                                        <div class="mb-3 parameter-row">
                                            <label class="form-label">Affichage des mariages</label>
                                            <div class="btn-group" role="group" aria-label="Affichage des mariages">
                                                <input type="radio" class="btn-check parameter" name="showMarriages"
                                                    id="showMarriages-true" value="true" checked>
                                                <label class="btn btn-outline-primary"
                                                    for="showMarriages-true">Oui</label>
                                                <input type="radio" class="btn-check parameter" name="showMarriages"
                                                    id="showMarriages-false" value="false">
                                                <label class="btn btn-outline-primary"
                                                    for="showMarriages-false">Non</label>
                                            </div>
                                        </div>
                                        <!-- Autres paramètres -->
                                        <div class="mb-3 parameter-row">
                                            <label class="form-label">Orientation dynamique du texte</label>
                                            <div class="btn-group" role="group"
                                                aria-label="Orientation dynamique du texte">
                                                <input type="radio" class="btn-check parameter" name="invert-text-arc"
                                                    id="invert-text-arc-true" value="true" checked>
                                                <label class="btn btn-outline-primary"
                                                    for="invert-text-arc-true">Oui</label>
                                                <input type="radio" class="btn-check parameter" name="invert-text-arc"
                                                    id="invert-text-arc-false" value="false">
                                                <label class="btn btn-outline-primary"
                                                    for="invert-text-arc-false">Non</label>
                                            </div>
                                        </div>
                                        <div class="mb-3 parameter-row">
                                            <label class="form-label">Affichage des cases vides</label>
                                            <div class="btn-group" role="group" aria-label="Affichage des cases vides">
                                                <input type="radio" class="btn-check parameter" name="showMissing"
                                                    id="showMissing-true" value="true" checked>
                                                <label class="btn btn-outline-primary"
                                                    for="showMissing-true">Oui</label>
                                                <input type="radio" class="btn-check parameter" name="showMissing"
                                                    id="showMissing-false" value="false">
                                                <label class="btn btn-outline-primary"
                                                    for="showMissing-false">Non</label>
                                            </div>
                                        </div>
                                        <!-- Coloriage de l'éventail -->
                                        <div class="mb-3 parameter-row">
                                            <label class="form-label">Coloriage de l'éventail</label>
                                            <div class="btn-group" role="group" aria-label="Coloriage de l'éventail">
                                                <input type="radio" class="btn-check parameter" name="fanColor"
                                                    id="fan-color-none" value="none" checked>
                                                <label class="btn btn-outline-primary" for="fan-color-none">Non</label>
                                                <input type="radio" class="btn-check parameter" name="fanColor"
                                                    id="fan-color-departement" value="departement">
                                                <label class="btn btn-outline-primary"
                                                    for="fan-color-departement">Géographique</label>
                                                <input type="radio" class="btn-check parameter" name="fanColor"
                                                    id="fan-color-individual" value="individual">
                                                <label class="btn btn-outline-primary"
                                                    for="fan-color-individual">Individuel</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Offcanvas for individuals -->
                        <div class="offcanvas offcanvas-end" tabindex="-1" id="personDetails"
                            aria-labelledby="personDetailsLabel">
                            <div class="offcanvas-header">
                                <h5 id="personDetailsLabel">name</h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                            </div>
                            <div id="offCanvasBody" class="text-start" style="overflow-y: auto;">
                                <div id="individualTimeline" class="text-start"></div>
                            </div>
                        </div>

                        <div class="offcanvas offcanvas-start map-width" tabindex="-1" id="individualMapContainer"
                            aria-labelledby="individualMapLabel">
                            <div class="offcanvas-header">
                                <h5 id="individualMapLabel">Carte</h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <div id="individual-map-container" class="row flex-nowrap h-100">
                                    <!-- La carte Google Maps sera injectée ici -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab2">
                    <div class="position-relative" style="height: 100%;">
                        <!-- Container de la carte -->
                        <div id="familyMap" style="height: 100%;"></div>
                        <!-- Offcanvas for map settings -->
                        <div class="offcanvas offcanvas-start" tabindex="-1" id="mapParameters" data-bs-backdrop="true"
                            aria-labelledby="mapParametersLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="mapParametersLabel">Paramètres de la carte</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <div class="container-fluid">
                                    <!-- Calques -->
                                    <div class="row">
                                        <div class="col-12">
                                            <label class="form-label">Calques</label>
                                            <div class="list-group">
                                                <div class="list-group-item">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <label class="form-check-label" for="layerAncestors">Villes des
                                                            ancêtres</label>
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox"
                                                                id="layerAncestors" checked>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="list-group-item">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <label class="form-check-label" for="layerFamily">Toutes les
                                                            villes familiales</label>
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox"
                                                                id="layerFamily">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Bouton avec z-index très élevé -->
                                    <button class="btn btn-light position-absolute top-0 end-0 m-2" type="button"
                                        data-bs-toggle="offcanvas" data-bs-target="#placesListOffcanvas"
                                        style="z-index: 1000002;">
                                        <i class="bi bi-list-ul"></i> Liste des lieux
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab3">
                    <div class="row position-relative" id="treeDisplay"></div>
                    <!-- Tree container -->
                    <div class="col-12 container-fluid align-items-center mt-2" id="treeContainer"
                        style="height: 95vh;"></div>
                    <!-- Offcanvas for tree settings -->
                    <div class="offcanvas offcanvas-start" tabindex="-1" id="treeParameters"
                        aria-labelledby="treeParametersLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="treeParametersLabel">Paramètres de l'arbre</h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12 mx-auto" id="treeParametersDisplay">
                                        <div class="mb-3 parameter-row">
                                            <label for="commonAncestor" class="form-label">Recherche</label>
                                            <div class="btn-group" role="group">
                                                <button type="button" id="commonAncestor"
                                                    class="btn btn-primary">Ancêtre commun</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab4">
                    <div class="horizontal-timeline" id="ascendantTimeline"></div>
                </div>
                <!-- Container for the Statistics tab -->
                <div class="tab-pane fade statistics-container" id="tab5" role="tabpanel">
                    <!-- Sticky Overview Section -->
                    <div class="sticky-overview">
                        <div class="container-fluid">
                            <!-- Quick Navigation -->
                            <div class="row mb-3">
                                <div class="col-12">
                                    <nav class="nav nav-pills nav-fill small">
                                        <a class="nav-link" href="#demography-section">Démographie</a>
                                        <a class="nav-link" href="#geography-section">Géographie</a>
                                        <a class="nav-link" href="#family-section">Relations Familiales</a>
                                        <a class="nav-link" href="#timeline-section">Chronologie</a>
                                    </nav>
                                </div>
                            </div>
                            <!-- Overview Cards -->
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <h6 class="card-title text-muted mb-0">Nombre total d'individus</h6>
                                            <h2 class="display-6 fw-bold mb-0" id="total-individuals">-</h2>
                                            <small class="text-muted">personnes recensées</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <h6 class="card-title text-muted mb-0">Nombre de mariages</h6>
                                            <h2 class="display-6 fw-bold mb-0" id="total-marriages">-</h2>
                                            <small class="text-muted">unions enregistrées</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <h6 class="card-title text-muted mb-0">Moyenne d'enfants</h6>
                                            <h2 class="display-6 fw-bold mb-0" id="avg-children">-</h2>
                                            <small class="text-muted">par couple marié</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <h6 class="card-title text-muted mb-0">Espérance de vie</h6>
                                            <h2 class="display-6 fw-bold mb-0" id="avg-lifespan">-</h2>
                                            <small class="text-muted">moyenne globale</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Scrollable Content -->
                    <div class="statistics-content">
                        <div class="container-fluid">
                            <!-- Demography Section -->
                            <div class="row mb-5" id="demography-section">
                                <div class="col-12">
                                    <h4 class="section-title">
                                        <i class="bi bi-people-fill me-2"></i>
                                        Démographie
                                    </h4>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">Distribution des âges au décès</h5>
                                        </div>
                                        <div class="card-body">
                                            <div id="age-chart" class="chart-container"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">Évolution de l'espérance de vie</h5>
                                        </div>
                                        <div class="card-body">
                                            <div id="lifespan-chart" class="chart-container"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Geography Section -->
                            <div class="row mb-5" id="geography-section">
                                <div class="col-12">
                                    <h4 class="section-title">
                                        <i class="bi bi-geo-alt-fill me-2"></i>
                                        Géographie
                                    </h4>
                                </div>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">Distribution géographique des naissances et
                                                migrations</h5>
                                        </div>
                                        <div class="card-body">
                                            <div id="birth-death-places-chart" class="chart-container"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Family Relations Section -->
                            <div class="row mb-5" id="family-section">
                                <div class="col-12">
                                    <h4 class="section-title">
                                        <i class="bi bi-diagram-3-fill me-2"></i>
                                        Relations Familiales
                                    </h4>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">Distribution des mariages par décennie</h5>
                                        </div>
                                        <div class="card-body">
                                            <div id="marriages-timeline-chart" class="chart-container"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">Taille des familles</h5>
                                        </div>
                                        <div class="card-body">
                                            <div id="family-size-chart" class="chart-container"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Timeline Section -->
                            <div class="row mb-5" id="timeline-section">
                                <div class="col-12">
                                    <h4 class="section-title">
                                        <i class="bi bi-calendar-event-fill me-2"></i>
                                        Chronologie
                                    </h4>
                                </div>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">Distribution temporelle des événements</h5>
                                        </div>
                                        <div class="card-body">
                                            <div id="events-timeline-chart" class="chart-container"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modals -->
                <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="emailModalLabel">Saisissez l'adresse à laquelle vous
                                    souhaitez recevoir le PDF de l'éventail sans filigrane.</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <input type="email" class="form-control" id="userEmailInput"
                                    placeholder="Votre adresse de courriel">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="email">Valider</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog"
                    aria-labelledby="confirmationModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Le fichier PDF de votre éventail sera envoyé dans quelques minutes à l'adresse indiquée.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal de Connexion -->
                <div class="modal fade" id="signInModal" tabindex="-1" aria-labelledby="signInModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="signInModalLabel">Se Connecter</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Fermer"></button>
                            </div>
                            <div class="modal-body">
                                <div id="sign-in"></div> <!-- Conteneur pour le formulaire de connexion -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Élément pour le contenu dynamique (formulaire de connexion, commutateur d'organisations, etc.) -->

                <!-- Offcanvas Places List -->
                <div class="offcanvas offcanvas-end" tabindex="-1" id="placesListOffcanvas">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title">Liste des lieux</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                    </div>
                    <div class="offcanvas-body">
                        <!-- Recherche -->
                        <div class="mb-3">
                            <input type="text" class="form-control" id="searchPlace"
                                placeholder="Rechercher un lieu...">
                        </div>

                        <!-- Filtre département -->
                        <div class="mb-3">
                            <select class="form-select" id="departementFilter">
                                <option value="">Tous les départements</option>
                            </select>
                        </div>

                        <!-- Liste des lieux -->
                        <div class="list-group" id="placesList"></div>

                        <!-- Compteur -->
                        <div class="mt-3 text-muted small" id="placesCounter"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Scripts -->
    <script>
        var isReady = true;
        window.onerror = function errorHandler(msg, url, line) {
            isReady = false;
            var e = document.getElementById('loading');
            e.innerHTML = "<h2><i class=\"fas fa-exclamation-triangle\" aria-hidden=\"true\"></i> ${__('geneafan.an_error_occurred')}</h2>${__('geneafan.your_browser_is_incompatible')}";
            return false;
        };
    </script>

</body>

</html>